// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.files {
  .progress {
    width: 100% !important;
  }
}

.upload {
  width: 110;
  float: left;
  background-color: #f9f9f9;
  margin: 5px;
  padding: 5px;

  .delete {
    text-align: center;
    margin: 5px;
  }
}
